asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-crispy-forms==1.11.2
django-widget-tweaks==1.4.8
idna==2.10
Pillow==8.1.2
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
stripe==2.56.0
urllib3==1.26.4





absl-py==0.13.0
alabaster==0.7.12
altgraph==0.17.2


pyflakes==2.2.0

PyInquirer==1.0.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3

pywebio==1.2.3
PyYAML==5.3.1
pyzmq==19.0.2
